* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  font-size: 1.75rem; 
  text-align: center;
  margin-top: 10px;  
  margin-bottom: 20px;
  color:  hsl(205, 78%, 60%);
}

.navbar a {
  text-decoration: none;
  color:  hsl(205, 78%, 60%);
}

nav {
  height: 3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
